@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gruvbox-bg {
  background-color: #282828;
}

.bg-gruvbox-gray {
  background-color: #3c3836;
}

.bg-gruvbox-red {
  background-color: #db7c67;
}

.text-gruvbox-yellow {
  color: #ebdbb2;
}

.bg-gruvbox-dark {
  background-color: #1d2021;
}

.border-gruvbox-light-gray {
  border-color: #504945;
}

.text-gruvbox-blue {
  color: #46a7bd;
}

.bg-grid {
  background-image: linear-gradient(to right, rgba(235, 219, 178, 0.1) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(235, 219, 178, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.no-select {
  user-select: none;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background-color: #3c3836;
  border-radius: 2px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ebdbb2;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ebdbb2;
  cursor: pointer;
}